version: "3.9"

services:
  app:
    build: .
    container_name: speakcheck_app
    env_file: .env
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./downloads:/app/downloads
      - ./audio:/app/audio
    restart: unless-stopped
